In [1]:
import pandas as pd 
import numpy as np
pd.set_option('display.max_columns', None)

In [2]:
file_path = '/project/data/compiled_results/raw/Compiled Field Results - CFTP Gathered Data.xlsx'
xls = pd.ExcelFile(file_path)
all_trials = {sheet_name: pd.read_excel(xls, sheet_name=sheet_name, skiprows=None if sheet_name != xls.sheet_names[0] else 1)
              for sheet_name in xls.sheet_names}

In [3]:
facility_ad = all_trials['AD001-01']
facility_ad

,Trial ID,Trial Bag Set,Trial Bag ID,Item Description From Trial,Item Description Refined,Load Concentration,Number of Items per bag,Residual Item Weight - Wet,Residual Weight - Oven-dry
0,AD001-01,Set A,AD T10 H7,CPLA Lid,BÉSICS® 8oz CPLA Hot cup lid,HIGH,2,6.68,6.30
1,AD001-01,Set A,AD T7 H3,CPLA Lid,BÉSICS® 8oz CPLA Hot cup lid,HIGH,2,0,0.00
2,AD001-01,Set A,AD T8 H1,CPLA Lid,BÉSICS® 8oz CPLA Hot cup lid,HIGH,2,5.29,5.29
3,AD001-01,Set A,AD T8 L3,CPLA Lid,BÉSICS® 8oz CPLA Hot cup lid,LOW,1,4.18,3.00
4,AD001-01,Set B,AD T10 H8,BESICS Bowl,BÉSICS® 12 oz Soup bowl,HIGH,2,23.21,18.57
...,...,...,...,...,...,...,...,...,...
89,AD001-01,Set A,AD T7 H3,MPLA Spoon,MPLA Spoon - NaturTec,HIGH,2,11.28,8.05
90,AD001-01,Set A,AD T8 H1,MPLA Spoon,MPLA Spoon - NaturTec,HIGH,2,8.58,7.93
91,AD001-01,Set A,AD T10 L7,MPLA Spoon,MPLA Spoon - NaturTec,LOW,1,3.93,3.90
92,AD001-01,Set A,AD T7 L5,MPLA Spoon,MPLA Spoon - NaturTec,LOW,1,0.44,0.44
93,AD001-01,Set A,AD T8 L3,MPLA Spoon,MPLA Spoon - NaturTec,LOW,1,4.08,3.89

In [11]:
def get_bag_info(facility):
    df = all_trials[facility]
    columns_to_keep = ['Trial ID', 'Trial Bag Set', 'Trial Bag ID', 'Load Concentration']
    df = df[columns_to_keep]
    df.columns = [col.lower() for col in df.columns]
    df.columns = df.columns.str.replace(' ', '_')
    df = df.drop_duplicates(subset='trial_bag_id', keep='first')
    return df

In [14]:
facility_ad = get_bag_info('AD001-01')
facility_wr01 = get_bag_info('WR001-01')
facility_casp01 = get_bag_info('CASP001-01')

In [16]:
facility_casp03 = all_trials['CASP003-01']
columns_to_keep = ['Trial ID', 'Trial Bag ID', 'Trial Bag Colour', 'Bag Set Detail']
facility_casp03 = facility_casp03[columns_to_keep]
facility_casp03.columns = [col.lower() for col in facility_casp03.columns]
facility_casp03.columns = facility_casp03.columns.str.replace(' ', '_')
facility_casp03 = facility_casp03.drop_duplicates(subset='trial_bag_id', keep='first')
facility_casp03

      trial_id trial_bag_id trial_bag_colour             bag_set_detail
0   CASP003-01           A1            Black              CFTP baseline
1   CASP003-01           A2            Black              CFTP baseline
2   CASP003-01           A3            Black              CFTP baseline
9   CASP003-01           C1           Orange           Alter Eco Quinoa
10  CASP003-01           C2           Orange           Alter Eco Quinoa
11  CASP003-01           C3           Orange           Alter Eco Quinoa
24  CASP003-01           B1            White              Elk Packaging
25  CASP003-01           B2            White              Elk Packaging
26  CASP003-01           B3            White              Elk Packaging
30  CASP003-01           D1             Blue  Vegware Rigid Biopolymers
32  CASP003-01           D2             Blue  Vegware Rigid Biopolymers
34  CASP003-01           D3             Blue  Vegware Rigid Biopolymers

In [17]:
facility_wr03 = all_trials['WR003-01']
columns_to_keep = ['Trial ID', 'Trial Bag ID', 'Trial Bag Colour']
facility_wr03 = facility_wr03[columns_to_keep]
facility_wr03.columns = [col.lower() for col in facility_wr03.columns]
facility_wr03.columns = facility_wr03.columns.str.replace(' ', '_')
facility_wr03 = facility_wr03.drop_duplicates(subset='trial_bag_id', keep='first')
facility_wr03

      trial_id       trial_bag_id trial_bag_colour
0    OWR003-01    Blue Zip Tie #1             Blue
9    OWR003-01    Blue Zip Tie #2             Blue
18   OWR003-01    Blue Zip Tie #3             Blue
27   OWR003-01    Blue Zip Tie #4             Blue
36   OWR003-01    Blue Zip Tie #5             Blue
45   OWR003-01    Blue Zip Tie #6             Blue
54   OWR003-01  Yellow Zip Tie #1           Yellow
63   OWR003-01  Yellow Zip Tie #2           Yellow
72   OWR003-01  Yellow Zip Tie #3           Yellow
81   OWR003-01  Yellow Zip Tie #4           Yellow
90   OWR003-01  Yellow Zip Tie #5           Yellow
99   OWR003-01  Yellow Zip Tie #6           Yellow
108  OWR003-01     Red Zip Tie #1              Red
115  OWR003-01     Red Zip Tie #2              Red
122  OWR003-01     Red Zip Tie #3              Red
129  OWR003-01     Red Zip Tie #4              Red
136  OWR003-01     Red Zip Tie #5              Red
143  OWR003-01     Red Zip Tie #6              Red

In [19]:
merged_cftp = pd.concat([facility_ad, facility_wr01, facility_casp01, facility_casp03, facility_wr03], ignore_index=True)
merged_cftp

,trial_id,trial_bag_set,trial_bag_id,load_concentration,trial_bag_colour,bag_set_detail
0,AD001-01,Set A,AD T10 H7,HIGH,NaN,NaN
1,AD001-01,Set A,AD T7 H3,HIGH,NaN,NaN
2,AD001-01,Set A,AD T8 H1,HIGH,NaN,NaN
3,AD001-01,Set A,AD T8 L3,LOW,NaN,NaN
4,AD001-01,Set B,AD T10 H8,HIGH,NaN,NaN
...,...,...,...,...,...,...
62,OWR003-01,NaN,Red Zip Tie #2,NaN,Red,NaN
63,OWR003-01,NaN,Red Zip Tie #3,NaN,Red,NaN
64,OWR003-01,NaN,Red Zip Tie #4,NaN,Red,NaN
65,OWR003-01,NaN,Red Zip Tie #5,NaN,Red,NaN
66,OWR003-01,NaN,Red Zip Tie #6,NaN,Red,NaN

In [37]:
compiled_10 = pd.read_csv('/project/data/compiled_results/processed/observation_mass.csv')
compiled_10 = compiled_10[compiled_10['bag_number'] != '(blank)']
split_columns = compiled_10['bag_set'].str.split(' ', n=1, expand=True)
compiled_10['bag_set'] = split_columns[0]
compiled_10['trial_bag_colour'] = split_columns[1].str.replace(r"[()]", "", regex=True)
compiled_10['trial_bag_colour'] = compiled_10['trial_bag_colour'].str.capitalize()
compiled_10['trial_bag_id'] = compiled_10['bag_set'] + compiled_10['bag_number'].astype(str)
columns_to_keep = ['facility_id', 'bag_set', 'trial_bag_id', 'trial_bag_colour']
compiled_10 = compiled_10[columns_to_keep]
new_names = {
        'facility_id': 'trial_id',
        'bag_set': 'trial_bag_set'
    }
compiled_10 = compiled_10.rename(columns=new_names)
compiled_10

      trial_id trial_bag_set trial_bag_id trial_bag_colour
0     WR004-01             A          A10             Blue
1     WR004-01             A           A6             Blue
2     WR004-01             A           A7             Blue
3     WR004-01             A           A8             Blue
4     WR004-01             A           A9             Blue
...        ...           ...          ...              ...
4513  WR005-01             B           B9            Green
4514  WR005-01             C          C10           Yellow
4515  WR005-01             C           C2           Yellow
4516  WR005-01             C           C4           Yellow
4517  WR005-01             C           C9           Yellow

[4427 rows x 4 columns]

In [38]:
merged_compiled = pd.concat([merged_cftp, compiled_10], ignore_index=True)
merged_compiled

,trial_id,trial_bag_set,trial_bag_id,load_concentration,trial_bag_colour,bag_set_detail
0,AD001-01,Set A,AD T10 H7,HIGH,NaN,NaN
1,AD001-01,Set A,AD T7 H3,HIGH,NaN,NaN
2,AD001-01,Set A,AD T8 H1,HIGH,NaN,NaN
3,AD001-01,Set A,AD T8 L3,LOW,NaN,NaN
4,AD001-01,Set B,AD T10 H8,HIGH,NaN,NaN
...,...,...,...,...,...,...
4489,WR005-01,B,B9,NaN,Green,NaN
4490,WR005-01,C,C10,NaN,Yellow,NaN
4491,WR005-01,C,C2,NaN,Yellow,NaN
4492,WR005-01,C,C4,NaN,Yellow,NaN
4493,WR005-01,C,C9,NaN,Yellow,NaN